@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@theme {
  --font-tiktokDisplay: TikTokDisplayFont;
  --font-IBM: "IBM Plex Sans", sans-serif;
  --primary-color: #ff3b5c;
}

@font-face {
  font-family: TikTokDisplayFont;
  src: url(/assets/Font/TikTokDisplayFont-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: TikTokFont;
  src: url(/assets/Font/TikTokFont-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: TikTokFont;
  src: url(/assets/Font/TikTokFont-Semibold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: TikTokFont;
  src: url(/assets/Font/TikTokFont-Bold.woff2);
  font-weight: 700;
}

@layer base {
  body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
    text-rendering: optimizespeed;
    background-color: black;
  }

  ::-webkit-scrollbar {
    display: none !important;
  }

  * {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* .active {
    color: var(--primary-color);
  } */
}
